body {
  background-image: url("backgroundImage.png");
  background-size: 100% 122%;
}

.intro {
  width: 75%;
}

.description {
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 400;
  width: 50%;
}

.intro {
  margin-left: 31px;
}

.logo {
  height: 7vw;
  width: 7vw;
  margin-left: 31px;
  margin-top: 20px;
}

nav {
  display: flex;
  flex-direction: row;
}

.tabs {
  color: #cacaca;
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  font-weight: 700;
  margin-left: 9vw;
  margin-top: 4vw;
  text-decoration: none;
}

.title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  font-weight: 400;
}

.quizButton {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-top: 150px;
}

.quizzes {
  background-color: #cacaca;
  color: blue;
  height: 40px;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
}
